{% extends 'index.html' %}
{% block title %}Tag: {{ tag.title }}{% endblock %}
{% block body %}
  <div class="row">
    <h4>Posts by tag: &laquo;{{ tag.title }}&raquo;</h4>
    <hr>
  </div>
  <div class="col">
    {% for post in posts.items %}
      <div class="row p-2 shadow bg-body rounded mb-2">
          <h4>{{ post.title }}</h4>
          <span>
            {{ post.text | truncate(255) | safe }}
            <a href="{{ url_for('.post', post_id=post.id) }}">...more</a>
          </span>
      </div>
    {% endfor %}
    {{ pagination.render_pagination(posts, '.home') }}
  </div>
{% endblock %}
