{% macro render_pagination(pagination, endpoint) %}
  {% if pagination.pages > 1 %}
    <nav class="mt-4">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="{{ url_for(endpoint, page=1, **kwargs) }}">First</a>
        </li>
        <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev().page, **kwargs) }}">&laquo;</a>
        </li>

        {% if pagination.page >=3 %}
          <li class="page-item {% if pagination.page >= 4 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=1, **kwargs) }}">
              {% if pagination.page == 3 %}1{% else %}...{% endif %}
            </a>
          </li>
        {% endif %}
        {% if (pagination.pages >=4) and (pagination.page >= pagination.pages - 1) %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.pages - 3, **kwargs) }}">{{ pagination.pages - 3 }}</a>
          </li>
        {% endif %}
        {% if (pagination.pages >=5) and (pagination.page == pagination.pages) %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.pages - 2, **kwargs) }}">{{ pagination.pages - 2 }}</a>
          </li>
        {% endif %}

        {% for page in pagination.iter_pages(left_edge=0, left_current=1, right_current=2, right_edge=0) %}
          {% if page %}
            <li class="page-item {% if page == pagination.page %}active{% endif %}">
              <a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if (pagination.pages >= 3) and (pagination.page == 1) %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=3, **kwargs) }}">3</a>
          </li>
        {% endif %}
        {% if (pagination.pages >= 4) and (pagination.page <= 2) %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, page=4, **kwargs) }}">4</a>
          </li>
        {% endif %}
        {% if (pagination.pages >= 5) and (pagination.page <= pagination.pages - 2) %}
          <li class="page-item {% if pagination.page < pagination.pages - 2 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for(endpoint, page=pagination.pages, **kwargs) }}">
              {% if pagination.page < pagination.pages - 2 %}...{% else %}{{ pagination.pages }}{% endif %}
            </a>
          </li>
        {% endif %}

        <li class="page-item {% if pagination.page == pagination.pages %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for(endpoint, page=pagination.next().page, **kwargs) }}">&raquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ url_for(endpoint, page=pagination.pages, **kwargs) }}">Last</a>
        </li>
      </ul>
    </nav>
  {% endif %}
{% endmacro %}

{% macro render_form(endpoint, button_text) %}
  <form method="POST" action="{{ url_for(endpoint, **kwargs) }}">
    {{ form.hidden_tag() }}
    {% for attr in form %}
      {% if ( ('CSRF' not in attr.label | string) and ('Remember' not in attr.label | string) ) %}
        <div class="form-group">
          {% if attr.errors %}
            {% for e in attr.errors %}
              <p class="form-text">{{ e }}</p>
            {% endfor %}
          {% endif %}
          <span>{{ attr.label }}</span>
          {% if 'text' in attr.label | string %}
            {{ attr(id='editor', class_='form-control') }}
          {% else %}
            {{ attr(class_='form-control') }}
          {% endif %}
        </div>
      {% endif %}
      {% if 'Remember' in attr.label | string %}
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="RememberMe">
          <label class="form-check-label" form="RememberMe">Remember Me</label>
        </div>
      {% endif %}
    {% endfor %}
    <input class="btn btn-primary mt-3" type="submit" value="{{ button_text }}">
    {% if 'login' in endpoint %}
      <a class="btn btn-primary mt-3" href="{{ url_for('main.register') }}">Sign up</a>
      <div class="row-sm mt-3">
        <a href="{{ url_for('google.login') }}">
          <div class="button-google"></div>
        </a>
      </div>
    {% endif %}
  </form>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/older-iPhone.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/iPhone-6-Plus.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='icons/iPad-Retina.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ url_for('static', filename='icons/iPad-Pro.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block link %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1><a href="{{ url_for('blog.home') }}">Blog App</a></h1>
        <p class="font-monospace fw-bold">Welcome to the blog!</p>
      </div>
      <div class="btn-toolbar mb-3" role="toolbar">
        <div class="btn-group me-2" role="group">
          <a href="{{ url_for('blog.home') }}" class="btn btn-outline-primary" role="button">Home</a>
          <a href="{{ url_for('api.index') }}" class="btn btn-outline-primary" role="button">API</a>
        </div>
        <div class="btn-group me-2" role="group">
          <a href="{{ url_for('blog.new_post') }}" class="btn btn-primary" role="button">Create a new post</a>
        </div>
        <div class="btn-group" role="group">
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('blog.user', username=current_user.username) }}" class="btn btn-outline-primary" role="button">Your posts</a>
          {% endif %}
          {% if not current_user.is_authenticated %}
            <a href="{{ url_for('main.login') }}" class="btn btn-outline-primary" role="button">Login</a>
          {% else %}
            <a href="{{ url_for('main.logout') }}" class="btn btn-outline-primary" role="button">Logout</a>
          {% endif %}
        </div>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
