{% macro render_pagination(pagination, endpoint) %}
  <nav style="margin-top: 35px;">
    <ul class="pagination">
      <li class="page-item {% if pagination.page == 1 %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev().page, **kwargs) }}" aria-label="Previous">
          <span aria-hidden="true">Previous</span>
        </a>
      </li>
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for(endpoint, page=page, **kwargs) }}">
                {{ page }}
              </a>
            </li>
          {% else %}
            <li class="page-item active">
              <a class="page-link" href="">
                {{ page }}
              </a>
            </li>
          {% endif %}
        {% else %}
          <li class="page-item"><a class="page-link">...</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-item {% if pagination.next().page > pagination.pages %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, page=pagination.next().page, **kwargs) }}" aria-label="Next">
          <span aria-hidden="true">Next</span>
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}

{% macro render_form(endpoint, button_text) %}
  <form method="POST" action="{{ url_for(endpoint, **kwargs) }}">
    {{ form.hidden_tag() }}
    {% for attr in form %}
      {% if ( ('CSRF' not in attr.label | string) and ('Remember' not in attr.label | string) ) %}
        <div class="form-group">
            {{ attr.label }}
            {% if attr.errors %}
              {% for e in attr.errors %}
                <p class="help-block">{{ e }}</p>
              {% endfor %}
            {% endif %}
            {{ attr(class_='form-control') }}
        </div>
      {% endif %}
      {% if 'Remember' in attr.label | string %}
        <div class="form-check" style="margin-top: 10px;">
          <input type="checkbox" class="form-check-input" id="RememberMe">
          <label class="form-check-label" for="RememberMe">Remember Me</label>
        </div>
      {% endif %}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="{{ button_text }}" style="margin-top: 15px;">
  </form>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1><a href="{{ url_for('blog.home') }}">My Blog</a></h1>
          <p>Welcome to the blog!</p>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
