{% extends 'base.html' %}
{% block title %}Edit post{% endblock %}
{% block body %}
  <div class="row p-2 shadow rounded mb-3">
    <h1 class="text-center">Edit post</h1>
    {{ render_form('.edit_post', 'Submit', id=post.id) }}
  </div>
{% endblock %}
{% block js %}
  <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
  <script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .then(editor => {
        console.log(editor);
      }).catch(error => {
        console.error(error);
      });
  </script>
{% endblock %}
