{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="row gx-5">
    <div class="col-9">
      {% for post in posts.items %}
        <div class="row p-2 shadow bg-body rounded mb-2">
            <h4>{{ post.title }}</h4>
            <span>
              {{ post.text | truncate(255) | safe }}
              <a href="{{ url_for('.post', post_id=post.id) }}">...more</a>
            </span>
        </div>
      {% endfor %}
      {{ render_pagination(posts, '.home') }}
    </div>
    <div class="col-3">
      <div class="row p-2 bg-body rounded shadow mb-2 ps-3">
        <h4>Recent Posts</h4>
        <ul class="ms-3">
          {% for post in recent %}
            <li>
              <a class="text-decoration-none" href="{{ url_for('.post', post_id=post.id) }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="row p-2 bg-body rounded shadow mb-2 ps-3">
        <h4>Popular Tags</h4>
        <ul class="ms-3">
          {% for tag in top_tags %}
            <li>
              <a class="text-decoration-none" href="{{ url_for('.tag', tag_name=tag[0].title) }}">{{ tag[0].title }}&nbsp;({{ tag[1] }})</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
